.gradle/
build/
local.properties
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/
*.jks
*.keystore
*.log
.DS_Store
Thumbs.db
app/build/
*/build/
proguard-rules.pro
*.apk
*.ap_
*.dex
*.class
ndkBuild/
local.properties
.kotlin
*.hprof